// colors
$green: #78BE20;
$black: #000000;
$white: #FFFFFF;
$ice: #F8F8F8;
$lightgrey: #E5E5E5;
$grey: #666666;
$darkgrey: #333333;
$red1: #DF3828;
$red2: #ED1C24;
$red3: #D0021B;
$yellow: #FAE800;
$darkyellow: #F6D835;
