@import './variables';
@import './reset';

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  background-color: $ice;

  &.noscroll {
    max-height: 100vh;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $green; 
  border-radius: 10px;
  transition: background-color 0.4s ease-in-out;
  will-change: background-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $darkgreen; 
}

.leroy {
  &__wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 30px 11px;

    @media screen and (min-width: 55rem) {
      max-width: 880px;
      margin: auto;
    }
  }

  &__cart {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $white;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    will-change: opacity;

    &.open {
      right: 0;
      z-index: 2;
      opacity: 1;
    }

    @media screen and (min-width: 55rem) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
