@import './variables';
@import './reset';

html {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  background-color: $ice;
}

.leroy {
  &__wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 30px 11px;

    @media screen and (min-width: 55rem) {
      max-width: 880px;
      margin: auto;
    }
  }

  &__cart {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: $white;

    &.open {
      z-index: 2;
      display: block;
    }

    @media screen and (min-width: 55rem) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
